<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- This catches ALL Jetty loggers under org.eclipse.jetty -->
  <logger name="org.eclipse.jetty" level="INFO"/>

  <!-- Optional: Silence specific noisy ones even more -->
  <logger name="org.eclipse.jetty.util.thread" level="WARN"/>
  <logger name="org.eclipse.jetty.io" level="WARN"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
